/*
	<|=== ===|>
	! TODO: Colors Variables
	<|=== ===|>
*/

$gray-100: #ccc;
$gray-200: #e8e9ea;
$gray-300: #707a7a;
$gray-400: #333;
$gray-500: #232a31;
$gray-600: #202b34;

$white: #ffffff;

$green-200: #2cc762;
$green-300: #22bb5f;

$red-100: #ef3f29;

$orange-100: #ef8f29;
