@use "colors";

/*
	<|=== ===|>
	! TODO: NavBar
	<|=== ===|>
*/

.navbar__container {
	width: 100%;
	height: 80px;
	background-color: colors.$gray-500;
	padding: 0 2em;
	box-sizing: border-box;

	position: relative;

	nav {
		position: relative;

		.navbar__logo {
			width: 50px;
			margin-top: 15px;
		}

		.navbar__items {
			position: absolute;
			display: inline-block;

			height: 80px;
			line-height: 80px;
			margin: 0;

			right: 0;

			li {
				display: inline-block;
				text-transform: uppercase;
				margin-left: 25px;

				.default__btn {
					padding: 15px 20px;

					background: colors.$green-200;
					color: colors.$white;

					border-radius: 5px;

					&:hover {
						background: colors.$green-300;
						color: colors.$white;
					}
				}

				a {
					color: colors.$white;

					transition: all 0.2s ease-in 20ms;

					&:hover {
						color: colors.$gray-300;

						padding: 5px;

						border-radius: 4px;
						border: 1px solid colors.$gray-300;
					}
				}
			}
		}
	}
}
